<!DOCTYPE html>
<html lang = "en">
   <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <title>HL7 Record</title>
  
  <script src = "{{ url_for('static', filename = 'js/jquery-2.2.4.min.js') }}"</script>
  <script type="text/javascript" src = "{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap-table.min.css') }}">
  <script type='text/javascript' src = "{{ url_for('static', filename = 'js/bootstrap-table.min.js') }}"></script>
  
  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(window).load(function(){
      var data = {{data|tojson}};
      var columns = {{columns|tojson}};
      $(function() {
        $('#my_table').bootstrapTable({ 
          data: data,
          columns: columns
        });
      });
    });
  </script> 
  
  <style type='text/css'>
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

  </style>
   </head>
   <body>
      <div class="container-fluid">
          <h1 class="display-4 bg-success text-center">HL7 Record</h1>
          <table id="my_table"></table>
      </div>
   </body>
</html>
